.header {
    background-color: rgb(83, 83, 241);
    color: rgb(2, 2, 2);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.link {
    color: rgb(0, 0, 0);
}
.link:hover {
    text-decoration: underline;
}